<!DOCTYPE html>
<html>
<head>
   <title>Error Detector</title>
   <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="row">
    <div class="col-lg-offset-4 col-lg-12">
        <h1>
            一键检测页面404
        </h1>
    </div>
</div>

<hr>


<form class="form-horizontal" role="form">
   <div class="form-group">
      <div class="col-md-offset-1 col-md-10">
         <input type="text" class="form-control" id="url" 
            placeholder="请输入期望被检测的URL">
      </div>
   </div>

   <div class="form-group">
      <div class="col-md-offset-5 col-md-10">
         <button type="button" class="btn btn-default" id="inspector">Go</button>
      </div>
   </div>
</form>


<script src="js/uri_input.js"></script>

</body>
</html>